name: CD - Deploy Production

on:
  push:
    branches: ["main"]

jobs:
  deploy-production:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Login no DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build da imagem
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/meuapp:latest .

      - name: Push da imagem
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/meuapp:latest

      - name: Configurar SSH
        run: |
          mkdir -p ~/.ssh
          # Salvar chave preservando formato
          cat > ~/.ssh/id_rsa << 'EOFKEY'
          ${{ secrets.SSH_PRIVATE_KEY }}
          EOFKEY
          chmod 600 ~/.ssh/id_rsa
          # Configurar SSH para aceitar RSA
          cat > ~/.ssh/config << 'EOFCONFIG'
          Host *
            PubkeyAcceptedKeyTypes +ssh-rsa
            HostKeyAlgorithms +ssh-rsa
          EOFCONFIG
          ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy em produção
        run: |
          echo "Deploy em produção"
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/meuapp:latest
            docker compose -f docker-compose.prod.yml up -d
          EOF
